// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

@import "primary/topbar";
@import "primary/my-menu";

#masthead {
  background: black;
  color: white;
}

.second-bar {
 padding: 24px 20px;
 position: relative;
 display: flex;
}

.second-bar-main {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
}

.title {
  display: inline-block;
  font-family: Impact;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.img-container {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-play-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: .5;
  cursor: pointer;
  width: 30%;
  max-width: 200px;
}

.img-play-overlay:hover {
  opacity: 1;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000000aa;
  transition: background 1s;
}

.video-overlay.closed {
  background: #00000000;
  z-index: -1;
}

.video-overlay iframe {
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-overlay.closed iframe {
  display: none;
  z-index: -1;
}

.subscribe-row {
  padding: 20px;
  text-align: center;
}

.subscribe-button {
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-size: 20px;
  background: #fc3f35;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  color: white;
}

.subscribe-button:hover {
  background: #ac0f05;
}

.site-content {
  background: white;
  color: black;
  padding: 40px 20px;

}
