
.topbar {
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  background: #327EE7;
  padding: 5px 0px;
}

.topbar a {
  text-decoration: none;
  color: white;
}

.topbar a:hover {
  color: red;
}
